@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Jersey+25&family=Momo+Trust+Display&display=swap');
:root{
    /*Source of Colors: https://coolors.co/e63946-2a9d8f-f1faee-f4d35e-4caf50 */
    --punch-red: #e63946;
    --pine-green: #2a9d8f;
    --honeydew: #f1faee;
    --royal-gold: #f4d35e;
    --medium-jungle: #4caf50; /* what are these coolors.co names? */
}
body{
    margin: 0;
    background-color: var(--honeydew);
    font-family: 'Momo Trust Display', sans-serif;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 10px;
    font-family: 'Momo Trust Display', sans-serif;
    background: var(--punch-red);
    color: #f6f4d2;
    position: relative;
    z-index: 10;
}
#part1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    font-family: 'Momo Trust Display', sans-serif;
    margin: 5px;
}
#part2{
    font-family: 'Momo Trust Display', sans-serif;
    margin: 5px;
}
.nav-part{
    transition: all 0.3s ease-in-out;
    text-shadow: none;
}
.nav-part:hover{
    text-shadow: 0px 0px 20px var(--royal-gold);
    cursor: pointer;
}
.current{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}
#part1{
    margin-left: 20px;
}
#part2{
    margin-right: 20px;
}
#page{
    display: flex;
    justify-content: center;
}
#line1{
    display: flex;
    width: auto;   
    height: auto;
    gap: 200px;
    flex-direction: row;
}
#line1 p{
    margin-left: 10px;
    font-size: 30px;
    position: relative;
    z-index: 4;
}
#icon{
    margin-top: 37px;
    transform: scale(1.5);
    background-color: var(--punch-red);
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    color: var(--honeydew);
    transition: all 0.3s ease-in-out;
}
#icon:hover{
    transform: scale(1.7);
    cursor: pointer;
}
#line2{
    display: flex;
}
#connect{
    z-index: 100;
    height: auto;
    width: 435px;
    height: 50px;
    margin-left: 5px;
    font-family: "Jersey 25";
    background-color: var(--punch-red);
    border: none;
    font-size: 30px;
    border-radius: 20px;
    color: var(--honeydew);
    display:block;
    position: relative;
    z-index: 3;
}
#decor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
#img2{
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(auto-200px);
    height: 500px;
    object-fit: 0;
    z-index: 2;
}
.project-box{
    background-color: var(--pine-green);
    border: none;
    border-radius: 20px;
    height: 30px;
}
.project-box p{
    margin-left: 15px;
    line-height: 25px;
}
.project-box input{
    margin-left: 15px;
}
.last-part{
    margin-bottom: 15px;
}
#review-status{
    pointer-events: none;
}
#shipped-status{
    pointer-events: none;
}
.hidden{
    display: none;
}