@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
:root{
    --family: 'Momo Trust Display';
    --color: black;
}
body {
    margin: 0;
}
/* Todo: Img and Text Side by Side */
#welcome{
    font-size: x-large;
    margin-left: 10px;
    background-image: url(https://hc-cdn.hel1.your-objectstorage.com/s/v3/d3bc35bee03b9712cf1d9a38f2991ba344ad0cfb_boiler_banner.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: opacity(0.2);
}
#hero1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color);
    font-family: var(--family);
    text-align: center;
}
#start{
    position: absolute;
    top: 65%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: var(--color);
    font-family: 'Momo Trust Display', sans-serif;
    font-size: 15px;
    text-align: center;
    border: solid 5px #580c1f;
    border-radius: 20px;
    width: 275px;
    height: 60px;
    background-color: #f2545b;
    transition: all 0.2s ease-in-out;
    animation: hover 0.7s infinite;
}
#start:hover{
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 20px #f2545b, 0 0 30px #f2545b;
}
@keyframes hover{
    0% {transform: translate(-50%, -47%);}
    50%{transform: translate(-50%, -53%);}
    100%{transform: translate(-50%, -47%);}
}