<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mosaic - Full Stack YSWS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css')}}">
</head>
<body>
    <div id="container">
        <div id="welcome">
        </div>
        <h1 id="hero1">Welcome to Mosaic - Hack Club's very own <span style="text-decoration: wavy underline;">full-stack</span> YSWS!</h1>
        <button id="start">LETS BRING SANTA TO TOWN!!</button>
    </div>
</body>
</html>